# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env (local safety, even if rarely used)
.venv/

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Packaging artifacts
build/
dist/
*.egg-info/

# example images
examples/cp_input/*
examples/cp_output/*
!examples/cp_input/.gitkeep
!examples/cp_output/.gitkeep